
.b-main-bg{
background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8wNi8xM3cO2NkAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzbovLKMAAAAiklEQVQYlWWPywrCMBRET0qgIbe2YHDtXvD/P0pTsOaGZBVXphVnO4/DmOvt3oIXZjdy1FYqMStD8ELUxFbqr6mJ4AX7bUbVHoiqBJmY3YgF+vxTFQME2ZH2yDWGP1mAVymsmgkiHdFoLM5h37WyauYsvs82GqtmBmOwj6RcJuE07jcX5xiM4ZGUD1+uOGfWTo92AAAAAElFTkSuQmCC");

}

.b-main-bg-url{
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.b-main-block:nth-child(odd) .b-main-bg-url:hover{
	-webkit-transform: scale(1.6) rotate(10deg) ;
	-moz-transform: scale(1.6) rotate(10deg) ;
	-ms-transform: scale(1.6) rotate(10deg) ;
	-o-transform: scale(1.6) rotate(10deg) ;
	transform: scale(1.6) rotate(10deg) ;
	opacity: 0.4;
}

.b-main-block:nth-child(even) .b-main-bg-url:hover{
	-webkit-transform: scale(1.6) rotate(-10deg);
	-moz-transform: scale(1.6) rotate(-10deg);
	-ms-transform: scale(1.6) rotate(-10deg);
	-o-transform: scale(1.6) rotate(-10deg);
	transform: scale(1.6) rotate(-10deg);
	opacity: 0.3;
}

.b-main-bg:hover{
	border-width: 10px;
}

.b-main-bg-url{
	border: none;
}



