
@import http://webfonts.ru/import/droidserif.css;



body {
    background: #000 url("body-bg.jpg") no-repeat fixed center top;
    color: #999999;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 17px;
    min-width: 944px;
}

.button{
	background: transparent url('button-bg.gif') left center repeat-x;
	border:none;
	text-decoration: none;
	padding: 1px 4px;
	color: #000;
	line-height: 1.5;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	height: 20px;
}

.button:hover{
	-webkit-box-shadow: -3px 23px 6px -14px #DDDDDD inset;
	-moz-box-shadow: -3px 23px 6px -14px #DDDDDD inset;
	box-shadow: -3px 23px 6px -14px #DDDDDD inset;
	color: #444;
}

.gl-input-field{
	height: 21px;
	padding: 2px;
	background: #161515;
	border: 1px solid #727272;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: 12px;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	display: inline-block;
	vertical-align: middle;
}

nav a, .link{
	color: 	#878E89;
}

nav a:hover, .link:hover{
	color: #fff;
}

img{
	max-width: 100%;
	display: block;
	height: auto;
}

.m-header{
	min-height:150px; 
	font-family: 'Droid Sans';
}

.logo{
	max-height:200px;
	padding: 20px 0;
}

.b-cart{
	top:60px;
	right: 150px;
	padding: 8px 7px 6px;
	background: #000;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.cart-text{
	font-size: 11px;
	text-transform: lowercase;
	color: #616161;
}

.cart-url{
	margin-right: 3px;
	font-size: 11px;
	text-transform: uppercase;
	color: #FFA700;
	text-decoration: underline;
}

.cart-url:hover{
	text-decoration: none;
}

.login-wrap{
	right: 25px;
	top: 66px;
}

.login{
	font-size: 11px;
	-webkit-border-radius: 3px;
	text-transform: capitalize;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #616161;
	display: inline-block;
	text-decoration: none;
	padding: 4px 45px 3px 5px;
	background: rgba(255,255,255, 0.11);
	position: relative;
}

.login:hover{
	color: #fff;
}

.login:hover:after{
	background-image: url('cur-arrow-hover.png');
}

.login:after{
	content: '';
	position: absolute;
	right: 0;
	top: 3px;
	background: transparent url('cur-arrow.png') 6px  6px no-repeat;
	border-left: 1px dotted #616161;
	display: inline-block;
	width: 25px;
	height: 17px;
}

.b-login{
	display: block;
	top: 35px;
	right: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 5px;
	width: 145px;
	background: #171717;
	border:1px solid #000;
}


.b-login:after, .b-login:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.b-login:after {
	border-color: rgba(23, 23, 23, 0);
	border-bottom-color: #171717;
	border-width: 5px;
	left: 70%;
	margin-left: -5px;
}
.b-login:before {
	border-color: rgba(0, 0, 0, 0);
	border-bottom-color: #000000;
	border-width: 6px;
	left: 70%;
	margin-left: -6px;
}

.login-submit, .to-reg{
	margin: 4px 4px 4px 0;
}

.b-login-input{
	margin-bottom: 3px;
}

.password-forget, .b-login-label{
	font-size:11px ;
	text-decoration: none;
	color: #616161;
}