@font-face {
    font-family: 'Droid Sans';
    src: url('droidsans.eot');
    src: local('Droid Sans'), local('DroidSans'), url('droidsans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Droid Sans';
    src: local('Droid Sans Bold'), local('DroidSans-Bold'), url('droidsans-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

